body{
    background: url(../img/bg.jpg) top center no-repeat / cover;
    font-family: 'Asap', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px;
}

.title{
    margin-top: 20px;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}

.title a{
    padding-top: 30px;
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.title a:last-of-type{
    margin-bottom: 50px;
    padding-top: 30px;
    font-size: 24px;
    text-transform: lowercase;
}

hr{
    margin: 0;
    border: none;
    background-color: #000;
    height: 3px;
    width: 100%;
}

.projects{
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}

.projects a{
    margin-left: 20px;
    padding: 15px;
    display: inline-block;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    font-weight: 500;
}

.projects_title{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    color: #000;
}

.projects a:hover{
    padding-left: 45px;
    transform: scale(1.1);
    background-color: #000;
    color: #fff;
}

.projects a:last-of-type{
    margin-bottom: 40px;
}

footer{
    margin-top: 70px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

@media(max-width:440px){
    body{
        background: #fff;
    }

    .title{
        text-align: center;
    }

    .wrapper{
        padding: 0 20px;
        align-items: center;
    }

    .projects{
        align-items: center;
    }

    .projects a{
        font-size: 16px;
        margin: 0;
    }

    .projects a:hover{
        margin-left: 0;
        padding: 15px;
        font-size: 16px;
        color: #000;
        background: #fff;
    }
}