@charset "UTF-8";
body {
  font-family: 'Open Sans' !important; }
  body .header {
    position: relative;
    background-image: url(../img/bg.png);
    background-size: 100%;
    height: 480px; }
    body .header .header__insta {
      position: absolute;
      right: 2%;
      top: 2%; }
      body .header .header__insta .header__insta-hashtag {
        color: #ffffff; }
  body .navbar {
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 1px #000000; }
    body .navbar .nav-item {
      padding-right: 10px;
      padding-left: 10px; }
      .navbar-brand{
        display:none;
        color: #212121 !important;
        font-size: 25px !important;
        font-weight: 700 !important;}
      body .navbar .nav-item .nav-link {
        cursor: pointer;
        transition: .3s;
        color: #2e2e2e !important;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600 !important; }
        body .navbar .nav-item .nav-link:hover {
          color: #286782 !important; }
  body .heading__body {
    padding-top: 115px;
    padding-bottom: 170px;
    flex-direction: column;
    align-items: center; }
    body .heading__body .heading__icon {
      display: block;
      margin-bottom: 35px; }
    body .heading__body .heading__title {
      margin: 0;
      max-width: 840px;
      text-align: center;
      color: #555559;
      font-size: 56px;
      font-weight: 400;
      letter-spacing: -2.24px; }
    body .heading__body .heading__button {
      margin-top: 80px;
      padding: 24px 30px;
      border: none;
      border-radius: 6px;
      background-color: #286782;
      transition: .3s;
      color: #ffffff;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: -0.8px; }
      body .heading__body .heading__button:hover {
        background-color: #efefef;
        color: #555559; }
  body .range .col-md-6 {
    padding: 0; }
  body .range .range__desc {
    padding-left: 130px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    body .range .range__desc .range__title {
      position: relative;
      color: #555559;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.96px; }
      body .range .range__desc .range__title:before {
        content: '—';
        position: absolute;
        left: -50px; }
    body .range .range__desc .range__text {
      margin-top: 30px;
      color: #555559;
      font-size: 18px;
      letter-spacing: -0.72px; }
  body .range .range__img img {
    width: 100%; }

.footer {
  background-color: #efefef; }
  .footer .footer__body {
    padding: 30px 0;
    display: flex;
    justify-content: space-between; }
    .footer .footer__body .footer__copyright, .footer .footer__body .footer__contact {
      font-size: 14px;
      font-weight: 400; }
      .footer .footer__body .footer__copyright, .footer .footer__body .footer__contact .footer__link {
        display: inline-block;
        color: #555559; }
        .footer .footer__body .footer__copyright .footer__link:hover, .footer .footer__body .footer__contact .footer__link:hover {
          color: #286782 !important;
          text-decoration: none !important; }

@media screen and (max-width: 1200px) {
  .range__desc {
    padding-left: 80px !important; } }

@media screen and (max-width: 992px) {
  .heading__title {
    font-size: 44px; }
  .range__desc {
    padding: 0 30px !important; }
  .range__title:before {
    display: none; }
  .footer__body {
    flex-direction: column;
    align-items: center; }
  .footer__copyright {
    margin-bottom: 20px;
    text-align: center; } }

@media screen and (max-width: 768px) {
  .header {
    display: none; }
  .nav-item {
    padding-right: 2px !important;
    padding-left: 2px !important; }
  .range__desc {
    align-items: center;
    margin-bottom: 50px; }
  .range__text, .range__title {
    text-align: center; }
  .range__img {
    padding-bottom: 50px; }
  .range .order-2 {
    order: 1 !important; }
  .range .order-1 {
    order: 2 !important; } }

@media screen and (max-width: 576px) {
  .heading__title {
    font-size: 32px !important; }
  .heading__body {
    padding-top: 80px !important;
    padding-bottom: 80px !important; }
  .navbar {
    padding-left: 50px; }
    .navbar-brand{
      display: inline-block;
  }
  .heading, .range, .footer {
    padding: 0 30px; }
  .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer__link {
    margin: 8px 0;
    text-align: center; } }

@media screen and (max-width: 576px) {
  .heading__button {
    font-size: 14px !important; } }
/*# sourceMappingURL=main.css.map */
