.contact_form{
	display: flex;
	justify-content: center;
}

.form{
	width: 600px;
}

.form_string{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form_group{
	position: relative;
	padding: 8px 0;
}

.form_label{
	position: absolute;
	top: 28px;
	left: 20px;
	z-index: 1;
	transition: 0.3s;
	color: #061e37;
	font-weight: 500;
	font-size: 14px;
}

.form_text{	
	padding: 0 20px ;
	background-color: transparent;
	width: 240px;
	height: 50px;
	border-radius: 5px;
	border: 2px solid #90a4ae;
	outline: none;
	transition: 0.3s;
	font-size: 16px;
	color: #061e37;
}

.form_text:focus{
	border: 2px solid #061e37;
}

.form_text:focus ~ .form_label,
.form_text:not(:placeholder-shown) ~  .form_label{
	top: 15px;
	font-size: 10px;
	color: #90a4ae;;
}

.form_message{	
	font-family: 'Raleway';
	padding: 20px ;
	background-color: transparent;
	width: 560px;
	height: 110px;
	border-radius: 5px;
	border: 2px solid #90a4ae;
	outline: none;
	transition: 0.3s;
	font-size: 16px;
	color: #061e37;
	font-weight: 500;
}

.form_message:focus{
	border: 2px solid #061e37;
}

.form_message:focus ~ .form_label,
.form_message:not(:placeholder-shown) ~  .form_label{
	top: 15px;
	font-size: 10px;
	color: #90a4ae;;
}

.form_checkbox{
	display: none;
}

.checkbox_label{
	padding-left: 10px;
	color: #061e37;
	font-size: 15px;
	font-weight: 500;
    cursor: pointer;
    letter-spacing: -0.1px;
}

.checkbox_label::before{
	content: '';
	display: inline-block;
	background: transparent;
	width: 13px;
	height: 13px;
	border: 2px solid #90a4ae; 
	border-radius: 3px;
	vertical-align: middle;
	margin-left: -10px;
	margin-right: 10px;
	margin-bottom: 2px;
	transition: 0.3s;
	cursor: pointer;

}

.form_checkbox:checked + .checkbox_label:before{
	border: 2px solid #061e37; 
	content: '\f00c';
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	font-size: 10px;
    color:  #061e37;
    text-align: center;
    line-height: 15px;
}

.form_send{
	padding-top: 7px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

