body, html{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}

h2{
	font-family: "Raleway";
	font-size: 45px;
	font-weight: 600;
	color: #061e37;
	margin: 0;
	text-align: center;
}

header{
	background: url(../img/BG.jpg) no-repeat top center / cover;
	padding: 0 80px;
}

.wrapper{
	margin: 0 auto;
	width: 1600px;
	overflow: hidden;
}

.navbar{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding-top: 47px;
}

.logo{
	display: block;
	padding-left: 40px;
	text-decoration: none;
	font-size:15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	position: relative;
}

.logo:first-line{
	font-weight:400;
}

.logo:after{
	background-image: url(../img/logo.png);
	content: '';
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	top: 0;
	left: 0px;
}

.menu{
	display: flex;
	list-style: none;
	margin: 0;
	padding-right: 90px;

}

.menu li{
	display: flex;
	list-style: none;
}

.menu  li a{ 
	font-size: 15px;
	display: block;
	padding: 10px 48px 10px 0;
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	font-weight: 700;
	transition: 0.3s;
}

.menu  li a:hover{ 
	color: #061e37;
	font-weight: 900;
	transform: scale(1.3);
}

.header_body{
	display: flex;
	justify-content: space-between;
	padding-bottom: 154px;
}

.header_offer{
	width: 41%;
}

.header_offer h1{
	margin: 0;	
	padding-top: 150px;
	color: #fff;
	font-size: 55px;
	font-weight: 800;
	line-height: 65px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.header_offer p{
	padding-top: 7px;	
	margin: 0;	
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 35px;
}

.video_image{
	padding-top: 157px;
	position: relative;

}

.play_button{
	transition: 0.3s;
}

.play_button:hover{
	transform: scale(1.4);
}

.video_image img{
	margin-right: -17px;	
}

.video_image:before{
	content:'Watch the video';
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;	
	top: 69%;	
	left: 42%;					
}

.header_buttons{
	padding-top: 32px;
}

.tools{
	display: flex;
	flex-direction: column;
	padding: 87px 80px 0 80px;
}

.tools_paragraph{
	margin: 0 auto;
	width: 39%;
	text-align: center;
	color: #b0bec5;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
}

.tools_paragraph:first-line{
	line-height: 50px;	
	font-size: 25px;
}

.tools_items{
	display: flex;
	justify-content: space-between;
	padding-bottom: 60px;	
}

.item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	max-width: 344px;
	padding-top: 90px;
		
}

.item_title{
	color: #061e37;
	padding-top: 34px;	
	margin: 0;	
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
}

.item_image{
	display: block;
	transition: 0.1s;
}

.item_image:hover{
	transform: scale(1.4);
}

.item_paragraph{
	margin-top: 10px;
	text-align: center;
	color: #78909c;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
}

.stats{
	padding-top: 99px;
	padding-bottom: 92px;	
	margin: 0 auto;	
	display: flex;
	max-width: 1660px;
}

.services_panel{
	margin: 0 auto;		
	padding-bottom: 101px;
	width: 50%;
	max-width: 800px;
}

.services_paragraph{
	padding-top: 12px;
	padding-bottom: 28px;
	margin: 0 auto;
	width: 35%;
	text-align: center;
	color: #b0bec5;
	font-size: 15px;
	line-height: 25px;
}

.panel_heading{
	margin-top: 22px;
	cursor: pointer;
	
}

.panel_heading a{
	display: block;
	position: relative;
	padding: 15px 20px ;
	color: #061e37;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius:5px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	text-decoration: none;
	transition: 0.3s;
	pointer-events: none;
}

.panel_heading span{
	font-family: 'Material Icons';
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	color: #061e37;
	text-transform: none;
	padding-right: 20px;
	padding-left: 4px;
	vertical-align: middle;
}

.panel_heading a:after{
	position: absolute;
	font-family: "Font Awesome 5 Free";
	content: "\f0d7";
	font-size: 20px;
	transition: 0.3s;
	right: 3%;
}

.panel_heading.in a:after{
	transform: rotate(180deg);
}

.panel_heading.border a{
	border-radius: 5px 5px 0 0;
	box-shadow: 0 -5px 9px rgba(0, 0, 0, 0.1);
}

.panel_collapse{
	display: none;
}

.panel_body{
	display: flex;
	padding: 0 30px 20px 0;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
	border-radius:0 0 5px 5px;
	background-color: #ffffff;

}

.panel_body img{
	display: block;
	padding: 0 25px ;
}

.panel_body p{
	color: #061e37;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.45px;
    margin: 0;
}

.customers{
	background: url(../img/customers_bg.jpg) no-repeat top center / cover; 
}

.customers_wrapper{
	display: flex;
	justify-content: space-between;
	padding: 0 80px; 
}

.customers_wrapper h2{
	color: #fff;
	text-align: left;
	padding-top: 126px;
}

.customers_wrapper p{		
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.2px;
	padding-bottom: 60px;
}

.customers_offer{
	width: 50%;
}

.team_title{
	padding-top: 92px;
}

.team_paragraph{
	padding-top: 12px;
	padding-bottom: 35px;
	margin: 0 auto;
	text-align: center;
	color: #b0bec5;
	font-size: 15px;
	line-height: 24px;
	width: 35%;
}

.socials{
	text-align: center;
	display: block;
	padding-bottom: 86px;
}

.socials a {
	display: inline-block;
	padding:0 5px;
	margin:0 8px;
	color: #90a4ae;
	transition: 0.3s;
} 

.socials a:hover{
	transform: scale(2);
	color: #061e37;
}

.contact{
	padding-top: 128px;
	background-color: #fafafa;
	padding-top: 39px;
}

.contact_paragraph{
	padding-top: 12px;
	padding-bottom: 35px;
	margin: 0 auto;
	text-align: center;
	color: #061e37;
	font-size: 15px;
	line-height: 25px;
	width: 35%;
}

.contact_form{
	display: flex;
	justify-content: center;
	padding-bottom: 100px;
}

.footer{
	padding: 0 80px;
	background-color: #061e37;
}

.footer_navbar{
	padding-top: 90px;
	padding-bottom: 36px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.footer_menu{
	display: flex;
	list-style: none;
	margin: 0;
}

.footer_menu  li a{ 
	font-size: 15px;
	display: block;
	padding: 10px 0 10px 47.3px;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	transition: 0.3s;
	text-transform:capitalize;
}

.footer_menu  li a:hover{ 
	font-weight: 900;
	transform: scale(1.5);
}


.footer_about{
	display: flex;
	justify-content: space-between;
	padding-bottom: 100px;
}

.nav_about{
	padding: 0;
	list-style-type: none;
}


.nav_about a{
	font-size: 15px;
	display: inline-block;
	padding: 10px 15px 10px 0;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	transition: 0.3s;
}

.nav_about a:hover{
	transform: scale(1.2);
	font-weight: 900;
}

.nav_about  i{
	display: inline-block;
	font-size: 4px;
	color: #fff;
	padding: 10px 15px 10px 0;
	vertical-align: middle;
	line-height: 21px;

}

.footer_socials a{
	opacity: 0.2;
	display: inline-block;
	padding:0 5px;
	margin:0 3px;
	color: #fff;
	transition: 0.3s;
	vertical-align: middle;
	line-height: 45px;

}

.footer_socials a:hover{
	transform: scale(2);
	opacity: 1;
}



