
@media(max-width:1366px){
    .wrapper{
        width: 100%;
    }

    header{
        padding: 0 40px;
    }

    .header_body{
        align-items: center;
    }

    .item{
        max-width: 320px;
    }

    .business_icon,
    .downloads_icon,
    .installs_icon,
    .users_icon{
        left: 20%;
    }

    .business_info,
    .users_info{
        left: 45%;
    }

    .panel_body img {
        width: 100%;
        padding: 0;
        transform: scale(0.8);
    }

    .john:before,
    .khalessi:before{
        top: 32%;
        left: -15%;
    }

    .customers_wrapper{
        padding: 0 40px;
    }
}

@media(max-width:1344px){

    .customers_wrapper{
        flex-direction: column;
        justify-content:center;
    }

    .customers_offer {
        width: 100%;
    }

    .customers_wrapper h2 {
        text-align: center;
        padding-top: 50px;
    }

    .customers_wrapper p {
        text-align: center;
        padding-bottom: 20px;
    }

    .customers_wrapper h2 br{
        display: none;
    }

    .button_get {
        display: block;
        margin: 0 auto;
    }

    .vs {
        width: 50% !important;
    }

    .prev_arrow::before,
    .next_arrow::before {
        left: 49.3%;
    }
}

@media(max-width:1231px){

    .navbar {
        padding-top: 25px;
    }

    .header_body {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 25px;
    }

    .menu{
        padding-right: 0px;
    }

    .header_offer {
        width: 100%;
    }

    .header_offer h1 {
        padding-top: 60px;
        text-align: center;
    }

    .header_offer h1 br{
        display: none;
    }

    .header_offer p {
        padding-top: 20px;
        margin: 0 auto;
        width: 70%;
        text-align: center;
    }

    .header_buttons {
        display: flex;
        padding-top: 40px;
        justify-content: center;
    }

    .video_image {
        padding-top: 50px;
    }

    .play_button {
        top: 45%;
    }

    .video_image:before {
        top: 63%;
    }


    .tools {
        padding: 50px 40px;
    }

    .tools_paragraph {
        width: 57%;
    }

    .item {
        max-width: 280px;
        padding-top: 50px;
    }

    .tools_items {
        padding-bottom: 50px;
    }

    .stats {
        padding: 50px 0;
    }

    .stats_hover:hover{
        width: 25%;	
        opacity: 1;
    }

    .panel_body {
        flex-direction: column;
        padding: 0 30px 20px 30px;
        
    }

    .panel_body p {
        text-align: justify;
    }

    .team_title {
        padding-top: 50px;
    }

    .slider-sycling {
        padding-top: 0px;
    }

    .socials {
        padding-bottom: 25px;
    }

    .contact {
        padding-top:25px;
    }

    .form_label {
        position: absolute;
        top: 25px;
        left: 20px;
        z-index: 1;
        transition: 0.3s;
        color: #061e37;
        font-weight: 500;
        font-size: 14px;
    }

    .contact_form {
        padding-bottom: 50px;
    }

    .footer_navbar {
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .footer_about {
        padding-bottom: 50px;
    }
} 

@media(max-width:992px){

    .menu li a {
        padding: 10px 12px;
    }

    .vertical_slider .slick-list {
        widows: 100%;
    }

    .stats {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stats_hover:hover{
        width: 80%;	
        opacity: 1;
    }

    .stats a{
        width: 80%;
    }

    .business,
    .downloads,
    .installs,
    .users {
        padding: 50px 0;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);  
    }

    .business:hover,
    .downloads:hover,
    .installs:hover,
    .users:hover {
        padding: 50px 0;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    }

    .business_icon, 
    .downloads_icon,
    .installs_icon,
    .users_icon {
        left: 35%;
        top: 22%;
    }

    .business_info,
    .users_info,
    .downloads_info,
    .installs_info {
        left: 49%;
        top: 25%;
    }

    .vs {
        width: 70% !important;
    }


    .slider-sycling{
        margin: 0 auto;
        width: 50%;
    }
}

@media(max-width:768px){

    header {
        padding: 0 20px;
    }

    .menu li a {
        padding: 10px 20px 10px 0;
    }

    .header_offer p {
        width: 85%;
    }

    .tools_paragraph {
        width: 80%;
    }

    .item {
        max-width: 210px;
        padding-top: 50px;
    }

    .stats {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services_paragraph {
        width: 45%;
    }

    .vs {
        width: 65% !important;
    }

    .panel_body p {
        text-align: justify;
    }

    .panel_body {
        flex-direction: column;
        padding: 0 30px 20px 30px;
    }

    .team_paragraph,
    .contact_paragraph{
        width: 50%;
    }

    .footer {
        padding: 0 20px;
    }

    .footer_menu li a {
        padding: 10px 0 10px 20px;
    }
    .nav_about a,
    .nav_about i, {
        padding: 10px 7px 10px 0;
    }

}

@media(max-width:718px){
    .navbar{
        flex-direction: column;
        align-items: center;
    }

    .logo{
        transform: scale(1.2);
        margin-left: 20px;
    }

    .menu{
        padding: 50px 0;
    }

    .menu li a {
        font-size: 18px;
        padding: 10px 30px;
    }

    .button_signup {
        padding: 10px 25px;
    }

    .tools_items {
        flex-direction: column;
        align-items: center;
    }

    .item {
        max-width: 360px;
    }

    .services_paragraph {
        width: 70%;
    }

    .services_panel {
        width: 500px;
    }

    .team_paragraph, .contact_paragraph {
        width: 75%;
    }

}

@media(max-width:640px){

    .video_image img {
        transform: scale(0.8);
    }

    .video_image:before {
        z-index: 2;
    }
    .video_image img {
        margin: 0;
    }

    .vs{
        width: 50% !important;
    }

    .john:before,
    .khalessi:before{
        top: 32%;
        left: -22%;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form_string {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form_group{
        justify-content: center;
    }

    .form_text {
        width: 420px;
    }

    .form_message{
        width: 420px;
        display: block;
    }

    .form_send{
        display: flex;
        justify-content: space-between;
        width:460px;
    }


}

@media(max-width:568px){

    .vs{
        margin-left: 16%;
    }

    .john:before, .khalessi::before {
        display: none;
    }

    .form_text {
        width: 300px;
    }
    

    .form_message{
        width: 300px;
        display: block;
    }

    .form_send{
        display: flex;
        justify-content: space-between;
        width: 340px;
    }

    .footer_navbar {
        flex-direction: column;
        align-items:center;
    }

    .footer_menu {
        margin-top: 40px;
        padding: 0;
    }

    .footer_menu li a {
        padding: 10px 20px;
    }


}

@media(max-width:566px){

    .menu li a {
        font-size: 18px;
        padding: 10px 12px;
    }

    .video_image{
        padding: 0;
    } 

    .video_image img {
        margin: 0;
        transform: scale(0.6);
    }

    .john:before, .khalessi::before {
        top: 0%;
        left: -39%;
    }


    .next_arrow::before {
        top: 3%;
    }

    .prev_arrow::before{
        bottom: 3%;
    }
}

@media(max-width:475px){

}

@media(max-width: 414px){
    header {
        padding: 0;
    }

    .menu{
        margin: 0;
    }

    .menu li a {
        font-size: 18px;
        padding: 10px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        background-color: #061e37;
    }

    .logo {
        padding-bottom: 50px;
    }

    .menu  li a:hover{ 
        color: white;
        font-weight: 900;
        transform: scale(1.2);
    }

    .button_signup {
        margin: 50px 0;
        transition: 0.3s
    }
    .button_signup:hover{
        background-color: #fff;
        border: 1px solid #fff;
        color: #061e37;
        font-weight: 700;
        border-radius: 5px;
    }

    .header_body{
        padding: 0 10px;
    }

    .header_offer h1 {
        font-size: 32px;
    }

    .header_offer p {
        padding-top: 0;
        margin: 0 auto;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
    }

    .play_button {
        top: 38%;
        transform: scale(1.2);
    }

    .video_image:before {
        z-index: 2;
        top: 56%;
        font-size: 12px;
    }

    h2 {
        font-size: 32px;
    }

    .tools_paragraph {
        font-size: 14px;
        width: 100%;
    }

    .tools_paragraph:first-line{
        line-height: 50px;	
        font-size: 18px;
    }

    .tools_items {
        flex-direction: column;
        align-items: center;
    }

    .item {
        max-width: 301px;
        padding-top: 45px;
    }

    .business_icon, 
    .downloads_icon,
    .installs_icon,
    .users_icon {
        left: 25%;
        top: 22%;
    }

    .business_info,
    .users_info,
    .downloads_info,
    .installs_info {
        left: 46%;
        top: 25%;
    }

    .services_paragraph {
        font-size: 14px;
        width: 85%;
    }

    .services_panel {
        width: 80%;
        padding-bottom: 50px;
    }

    .customers_offer{
        padding-bottom: 20px;
    }

    .team_paragraph{
        font-size: 14px;
        width: 90%;

    }

    .contact_paragraph {
        width: 90%;
        font-size: 14px;
    }

    .button_send{
        display: block;
    }

    .checkbox_group{
        display: flex;
        justify-content: space-between;
    }

    .checkbox_label{
        font-size: 13px;
    }

    .footer_navbar {
        flex-direction: column;
        align-items: center;
    }

    .footer_menu{
        padding: 0;
    }

    .footer_menu li a {
        padding: 10px;
        font-size: 18px;
    }

    .footer_about {
        flex-direction: column;
        align-items: center;
    }

    .nav_about {
        margin-bottom: 20px; 
    }

}

@media(max-width:413px){

    .slide {
        margin-left: 30px !important;
    }
}    

@media(max-width:375px){

    .logo {
        transform: scale(1.5);
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu li a {
        font-size: 18px;
        padding: 20px;
        font-size: 24px;
    }

    .button_signup {
        padding: 15px 34px;
        font-size: 18px;
    }

    .header_video{
        transform: scale(0.9);
    }

    .business_icon, 
    .downloads_icon,
    .installs_icon,
    .users_icon {
        left: 22%;
        top: 22%;
    }

    .business_info,
    .users_info,
    .downloads_info,
    .installs_info {
        left: 47%;
        top: 25%;
    }

    .socials a {
        transform: scale(1.3);
        padding: 0px 14px;
    }

    .form_text, .form_message {
        width: 280px;
    }

    .form_send {
        width: 320px;
    }

    .button_send {
        padding: 5px 28px;
    }

    .footer_menu {
        flex-direction: column;
        align-items: center;
    }

    .footer_menu li a {
        padding: 20px;
        font-size: 24px;
    }

    .nav_about a {
        font-size: 18px;
        padding: 10px  4px;
    }

    .nav_about i {
        padding: 10px 4px;
    }

    .footer_socials a {
        transform: scale(1.3);
        padding: 0 15px;
    }    
}    

@media(max-width: 360px){
    .nav_about a {
        font-size: 14px;
        padding: 10px  6px;
    }

    .nav_about i {
        padding: 10px 6px;
    }

    .form_text, .form_message {
        width: 240px;
    }

    .form_send {
        padding-top: 20px;
        flex-direction: column;
        width: 280px;
    }

    .button_send {
        margin-top: 20px;
        padding: 5px 16px;
    }

}

@media(max-width: 320px){

    .menu {
        padding: 0;
    }

    .menu li a {
        font-size: 18px !important;
        padding: 20px;
        font-size: 22px;
    }

    .button_buy {
        font-size: 12px;
        padding: 18px 26px;
    }

    .button_try {
        font-size: 12px;
        padding: 18px 12px;
    }
    
    .header_video{
        transform: scale(0.8);
    }

    .tools {
        padding: 50px 20px;
    }

    .item {
        max-width: 270px;
    }

    .vs{
        width: 40% !important;
    }

    .nav_about a {
        font-size: 16px;
        padding: 10px  0;
    }

    .nav_about i {
        padding: 10px 3px;
    }

    .footer_menu li a{
        font-size: 18px;
    }
}




    



    



