.button{
    background-color: #00897b;
    box-sizing: border-box;
    border: 3px solid #00897b;
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: pointer;
}

.button:hover{
    background-color: transparent;
    box-sizing: border-box;
    border: 3px solid #00897b;
    color: #212121;
}

.button_service{
    background: transparent;
    border: 3px solid #ffffff;
    margin: 0 12.5px;
    max-width: 220px;
    max-height: 70px;
    padding: 25px 32px;
}

.button_hire{
    background: transparent;
    border: 3px solid #ffffff;
    margin: 0 12.5px;
    max-width: 220px;
    max-height: 70px;
    padding: 25px 43px;
}

.button_service:hover,
.button_hire:hover{
    background-color: #00897b;
    border: 3px solid #00897b;
}

.card__button{
    margin-top: 30px;
    padding: 15px 13px;
    max-width: 150px;
    background: transparent;
    box-sizing: border-box;
    border: 2px solid #212121;
    color: #212121;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.works__btn{
    margin: 0 5px;
    background-color: transparent;
    box-sizing: border-box;
    border: 2px solid #00897b;
    color: #212121;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .3s;
    cursor: pointer;
}

.works__btn:hover{
    background-color: #00897b;
    color: #ffffff;
}

.works__btn:nth-child(1){
    padding: 20px 30px;
}

.works__btn:nth-child(2){
    padding: 20px 25px;
}

.works__btn:nth-child(3){
    padding: 20px 18px;
}

.works__btn:nth-child(4){
    padding: 20px 38px;
}

.works__button{
    display: block;
    margin: 0 auto;  
    padding: 20px 50px;
}

.order__button{
    margin: 0 auto;
    padding: 18px 30px;
    display: block;
    max-width: 180px;
    background: transparent;
    border: 2px solid #000000;
    color: #212121;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
    cursor: pointer;
}

.blog__button{
    display: block;
    margin: 150px auto 0;  
    padding: 20px 48px;
}

.contact__button{
    display: block;
    margin-top: 30px;
    padding: 25px 80px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #212121;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .3s;
}

.contact__button:hover{
    background-color: #3949ab;
    color: #ffffff;
}

