<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width= , initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Орех причерноморья
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
        script(src="slick/slick.js")
        
        //- link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.0/css/all.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="./slick/slick.css")
        link(rel="stylesheet" type="text/css" href="./slick/slick-theme.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(rel="stylesheet" href="./css/main.css")
        link(rel="stylesheet" href="./css/media.css")
    body
        .wrapper 
            header.header
                .container
                    .row.order-1 
                        .col-lg-4.col-md-2.col-sm-2
                            .page__socials
                                ul.socials__list.d-flex
                                    li.socials__item
                                        a.socials__link(href="#")
                                            i.fab.fa-facebook-f
                                    li.socials__item
                                        a.socials__link(href="#")
                                            i.fab.fa-instagram
                                    li.socials__item
                                        a.socials__link(href="#")
                                            i.fab.fa-youtube
                        .col-lg-4.col-md-5.col-sm-5.d-flex.justify-content-center
                            .header__discount Ваша персональная скидка - 5%
                        .col-lg-4.col-md-5.col-sm-5.d-flex
                            .heager__log
                                ul.log__list.d-flex
                                    li.log__item
                                        a.log__link(href="#")
                                            i.fas.fa-user 
                                            span Вход
                                    li.log__item
                                        a.log__link(href="#") Регистрация 
                                    li.log__item 
                                        .log__lang
                                            select(href="#") 
                                                option|Ru
                                                option|Ua
                                                option|Eng
                    .row.order-2
                        .col-lg-3
                            a(href="#").header__logo.d-flex
                                img.logo__img(src="./img/logo.png", alt="logo")
                                span.logo__text 
                                    |орех 
                                    br 
                                    |причерноморья

                        .col-lg-5.col-md-6.col-sm-4
                            .header__contact.d-flex.justify-content-center
                                .contact__messanger
                                    a.messanger__icon(href="#")
                                        i.fab.fa-viber
                                    a.messanger__icon(href="#")
                                        i.fab.fa-telegram-plane
                                    a.messanger__icon(href="#")
                                        i.fab.fa-whatsapp

                                .contact__number.d-flex
                                    a.number__phone(href="tel:+380447505011") 
                                        |+38(044) 
                                        span | 750-50-11
                                    a.number__phone(href="tel:+380447505011") 
                                        |+38(097) 
                                        span | 775-50-51
                        .col-lg-4.col-md-6.col-sm-8
                            .header__call.d-flex.mr-auto
                                button.call__button Заказать звонок
                                .call__text Ждем Вашего звонка ежедневно с 9 до 18 
                                a.call__icon(href="#")
                                    img(src="./img/call.svg", alt="order")  
                    .row.order-3 
                        nav.navbar.navbar-expand-lg.navbar-light.m-auto
                            a.navbar-brand.d-flex
                                img.logo__img(src="./img/logo.png", alt="logo")
                                span.logo__text 
                                    |орех 
                                    br 
                                    |причерноморья
                            button.navbar-toggler(data-target="#header__nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation")
                                span.navbar-toggler-icon
                            .collapse.navbar-collapse#header__nav
                                ul.navbar-nav
                                    li.nav-item
                                        a.nav-link Магазин
                                    li.nav-item
                                        a.nav-link О производстве
                                    li.nav-item
                                        a.nav-link Оплата и доставка
                                    li.nav-item
                                        a.nav-link Оптовым и корпоративным клиентам
                                    li.nav-item
                                        a.nav-link Новости и статьи
                                    li.nav-item
                                        a.nav-link Контакты      
            main.main
                section.heading
                    .container-fluid
                        .heading__title Орех Причерноморья
                        .heading__text Единственный в Украине сад совместного выращивание фундука и грецкого ореха
                        button.heading__button(data-toggle="modal" data-target="#heading__modal") 
                            img(src="./img/play.svg", alt="")
                        .modal.fade#heading__modal
                            .modal-dialog.modal-dialog-centered
                                .modal-content    
                                    .modal-body
                                        button.close(data-dismiss="modal") x
                                        .modal__img
                                            iframe.modal__video(width="100%" height="500" src="https://www.youtube.com/embed/UD93rl_PIM0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                section.store
                    .container
                        .store__title Продукция 
                        .store__text Экологически чистые, качественные ядра грецкого ореха и фундука, а также плоды шиповника в удобной, надежной, вакуумной упаковке разного объема
                        .row
                            .col-lg-4.col-md-6
                                .store__box
                                    .box__slider_1
                                        .box__img
                                            img(src="./img/pic1.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_1")
                                                img(src="./img/zoom.svg", alt="loupe")
                                        .box__img
                                            img(src="./img/pic1.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_1")
                                                img(src="./img/zoom.svg", alt="loupe")
                                        .box__img
                                            img(src="./img/pic1.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_1")
                                                img(src="./img/zoom.svg", alt="loupe")
                                    .box__name Грецкий орех
                                    .box__number Арт:0091
                                    .box__discribe Орех сладкий, кондитерский, очищенный
                                    .box__about.d-flex 
                                        .box__weight
                                            img(src="./img/weight.svg", alt="weight")
                                            span| Масса
                                                br
                                                | 40г
                                        .box__pack
                                            img(src="./img/pack.svg", alt="pack")
                                            span| Упаковка
                                                br
                                                | вакуумная
                                    .box__buy.d-flex
                                        .box__price Цена:
                                            span.price__new 19 грн.
                                            span.price__old 21 грн.
                                        .box__button Купить
                                    .box__mark 
                                        img(src="./img/act.svg", alt="Акция")
                                    button#arrow-prev_1.arrow-prev
                                        i.fas.fa-arrow-left
                                    button#arrow-next_1.arrow-next
                                        i.fas.fa-arrow-right
                                    .modal.fade#box-modal_1
                                        .modal-dialog.modal-dialog-centered
                                            .modal-content    
                                                .modal-body
                                                    button.close(data-dismiss="modal") x
                                                    .modal__img
                                                        img(src="./img/box1.png", alt="box")
                            .col-lg-4.col-md-6
                                .store__box
                                    .box__slider_2
                                        .box__img
                                            img(src="./img/pic2.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_2")
                                                img(src="./img/zoom.svg", alt="loupe")
                                        .box__img
                                            img(src="./img/pic2.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_2")
                                                img(src="./img/zoom.svg", alt="loupe")
                                        .box__img
                                            img(src="./img/pic2.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_2")
                                                img(src="./img/zoom.svg", alt="loupe")
                                    .box__name Грецкий орех
                                    .box__number Арт:0091
                                    .box__discribe Орех сладкий, кондитерский, очищенный
                                    .box__about.d-flex 
                                        .box__weight
                                            img(src="./img/weight.svg", alt="weight")
                                            span| Масса
                                                br
                                                | 40г
                                        .box__pack
                                            img(src="./img/pack.svg", alt="pack")
                                            span| Упаковка
                                                br
                                                | вакуумная
                                    .box__buy.d-flex
                                        .box__price Цена:
                                            span.price__new 21 грн.
                                            //- span.price__old 21 грн.
                                        .box__button Купить
                                    .box__mark 
                                        img(src="./img/nov.svg", alt="Новинка")
                                    button#arrow-prev_2.arrow-prev
                                        i.fas.fa-arrow-left
                                    button#arrow-next_2.arrow-next
                                        i.fas.fa-arrow-right
                                    .modal.fade#box-modal_2
                                        .modal-dialog.modal-dialog-centered
                                            .modal-content    
                                                .modal-body
                                                    button.close(data-dismiss="modal") x
                                                    .modal__img
                                                        img(src="./img/box2.png", alt="box")
                            .col-lg-4.col-md-6
                                .store__box
                                    .box__slider_3
                                        .box__img
                                            img(src="./img/pic1.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_3")
                                                img(src="./img/zoom.svg", alt="loupe")
                                        .box__img
                                            img(src="./img/pic1.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_3")
                                                img(src="./img/zoom.svg", alt="loupe")
                                        .box__img
                                            img(src="./img/pic1.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_3")
                                                img(src="./img/zoom.svg", alt="loupe")
                                    .box__name Грецкий орех
                                    .box__number Арт:0091
                                    .box__discribe Орех сладкий, кондитерский, очищенный
                                    .box__about.d-flex 
                                        .box__weight
                                            img(src="./img/weight.svg", alt="weight")
                                            span| Масса
                                                br
                                                | 40г
                                        .box__pack
                                            img(src="./img/pack.svg", alt="pack")
                                            span| Упаковка
                                                br
                                                | вакуумная
                                    .box__buy.d-flex
                                        .box__price Цена:
                                            span.price__new 21 грн.
                                            //- span.price__old 21 грн.
                                        .box__button Купить
                                    //- .box__mark 
                                    //-     img(src="./img/nov.svg", alt="Новинка")
                                    button#arrow-prev_3.arrow-prev
                                        i.fas.fa-arrow-left
                                    button#arrow-next_3.arrow-next
                                        i.fas.fa-arrow-right
                                    .modal.fade#box-modal_3
                                        .modal-dialog.modal-dialog-centered
                                            .modal-content    
                                                .modal-body
                                                    button.close(data-dismiss="modal") x
                                                    .modal__img
                                                        img(src="./img/box1.png", alt="box")
                            .col-lg-4.col-md-6
                                .store__box
                                    .box__slider_4
                                        .box__img
                                            img(src="./img/pic3.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_4")
                                                img(src="./img/zoom.svg", alt="loupe")
                                        .box__img
                                            img(src="./img/pic3.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_4")
                                                img(src="./img/zoom.svg", alt="loupe")
                                        .box__img
                                            img(src="./img/pic3.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_4")
                                                img(src="./img/zoom.svg", alt="loupe")
                                    .box__name Грецкий орех
                                    .box__number Арт:0091
                                    .box__discribe Орех сладкий, кондитерский, очищенный
                                    .box__about.d-flex 
                                        .box__weight
                                            img(src="./img/weight.svg", alt="weight")
                                            span| Масса
                                                br
                                                | 40г
                                        .box__pack
                                            img(src="./img/pack.svg", alt="pack")
                                            span| Упаковка
                                                br
                                                | вакуумная
                                    .box__buy.d-flex
                                        .box__price Цена:
                                            span.price__new 21 грн.
                                            //- span.price__old 21 грн.
                                        .box__button Купить
                                    //- .box__mark 
                                    //-     img(src="./img/nov.svg", alt="Новинка")
                                    button#arrow-prev_4.arrow-prev
                                        i.fas.fa-arrow-left
                                    button#arrow-next_4.arrow-next
                                        i.fas.fa-arrow-right
                                    .modal.fade#box-modal_4
                                        .modal-dialog.modal-dialog-centered
                                            .modal-content    
                                                .modal-body
                                                    button.close(data-dismiss="modal") x
                                                    .modal__img
                                                        img(src="./img/box3.png", alt="box")
                            .col-lg-4.col-md-6
                                .store__box
                                    .box__slider_5
                                        .box__img
                                            img(src="./img/pic4.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_5")
                                                img(src="./img/zoom.svg", alt="loupe")
                                        .box__img
                                            img(src="./img/pic4.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_5")
                                                img(src="./img/zoom.svg", alt="loupe")
                                        .box__img
                                            img(src="./img/pic4.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_5")
                                                img(src="./img/zoom.svg", alt="loupe")
                                    .box__name Грецкий орех
                                    .box__number Арт:0091
                                    .box__discribe Орех сладкий, кондитерский, очищенный
                                    .box__about.d-flex 
                                        .box__weight
                                            img(src="./img/weight.svg", alt="weight")
                                            span| Масса
                                                br
                                                | 40г
                                        .box__pack
                                            img(src="./img/pack.svg", alt="pack")
                                            span| Упаковка
                                                br
                                                | вакуумная
                                    .box__buy.d-flex
                                        .box__price Цена:
                                            span.price__new 21 грн.
                                            //- span.price__old 21 грн.
                                        .box__button Купить
                                    //- .box__mark 
                                    //-     img(src="./img/nov.svg", alt="Новинка")
                                    button#arrow-prev_5.arrow-prev
                                        i.fas.fa-arrow-left
                                    button#arrow-next_5.arrow-next
                                        i.fas.fa-arrow-right
                                    .modal.fade#box-modal_5
                                        .modal-dialog.modal-dialog-centered
                                            .modal-content    
                                                .modal-body
                                                    button.close(data-dismiss="modal") x
                                                    .modal__img
                                                        img(src="./img/box4.png", alt="box")
                            .col-lg-4.col-md-6
                                .store__box
                                    .box__slider_6
                                        .box__img
                                            img(src="./img/pic5.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_6")
                                                img(src="./img/zoom.svg", alt="loupe")
                                        .box__img
                                            img(src="./img/pic5.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_6")
                                                img(src="./img/zoom.svg", alt="loupe")
                                        .box__img
                                            img(src="./img/pic5.png", alt="nuts")
                                            button.box-zoom(data-toggle="modal" data-target="#box-modal_6")
                                                img(src="./img/zoom.svg", alt="loupe")
                                    .box__name Грецкий орех
                                    .box__number Арт:0091
                                    .box__discribe Орех сладкий, кондитерский, очищенный
                                    .box__about.d-flex 
                                        .box__weight
                                            img(src="./img/weight.svg", alt="weight")
                                            span| Масса
                                                br
                                                | 40г
                                        .box__pack
                                            img(src="./img/pack.svg", alt="pack")
                                            span| Упаковка
                                                br
                                                | вакуумная
                                    .box__buy.d-flex
                                        .box__price Цена:
                                            span.price__new 21 грн.
                                            //- span.price__old 21 грн.
                                        .box__button Купить
                                    //- .box__mark 
                                    //-     img(src="./img/nov.svg", alt="Новинка")
                                    button#arrow-prev_6.arrow-prev
                                        i.fas.fa-arrow-left
                                    button#arrow-next_6.arrow-next
                                        i.fas.fa-arrow-right
                                    .modal.fade#box-modal_6
                                        .modal-dialog.modal-dialog-centered
                                            .modal-content    
                                                .modal-body
                                                    button.close(data-dismiss="modal") x
                                                    .modal__img
                                                        img(src="./img/box5.png", alt="box")
                        .row
                            button.store__button Перейти в магазин
                section.manufacturer  
                    .container
                        .row
                            .col-lg-5
                                .manufacturer__title О производителе
                                .manufacturer__text 
                                    span Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья”
                                    |выращивает смешанные сады ореха грецкого с фундуком, а также ореха грецкого с шиповником, на площади более 150 гектаров.
                                .manufacturer__text   
                                    |Помимо этого кооператив занимается выращиванием посадочного материала, саженцов привитого и непривитого грецкого ореха, фундука и шиповника.
                                button.manufacturer__button Подробнее

                            .col-lg-7
                                .manufacturer__video
                                    .manufacturer__slider   
                                        video.manu__video(src="./video/nut.mp4" controls poster="img/mabufacturer.png")
                                        video.manu__video(src="./video/nut.mp4" controls poster="img/mabufacturer.png")
                                        video.manu__video(src="./video/nut.mp4" controls poster="img/mabufacturer.png")
                                    .manufacturer__arrows
                                        button.manu_arrow_prev
                                            i.fas.fa-arrow-left
                                        button.manu_arrow_next
                                            i.fas.fa-arrow-right
                section.manufacturer-about      
                    .container                
                        .row       
                            .col-lg-3.col-md-6
                                .manufacturer-about__number 240
                                    span Га
                                .manufacturer-about__text 
                                    |Смешанных 
                                    br
                                    |садов

                            .col-lg-3.col-md-6
                                .manufacturer-about__number 1
                                    span Га
                                .manufacturer-about__text 
                                    |Тепличного
                                    br
                                    |комплекса

                            .col-lg-3.col-md-6
                                .manufacturer-about__number 10
                                    span Га
                                .manufacturer-about__text 
                                    |Первая промышленная плантация 
                                    br
                                    |шиповника в Украине

                            .col-lg-3.col-md-6
                                .manufacturer-about__number 80
                                    span %
                                .manufacturer-about__text 
                                    |Приживаемости 
                                    br
                                    |саженцев
                section.profit
                    .container-fluid
                        .profit__title Наша главная цель - получить максимальную прибыль с одного гектара
                        button.profit__button(data-toggle="modal" data-target="#profit__modal") 
                            img(src="./img/play.svg", alt="play")
                        .modal.fade#profit__modal
                            .modal-dialog.modal-dialog-centered
                                .modal-content    
                                    .modal-body
                                        button.close(data-dismiss="modal") x
                                        .modal__img
                                            iframe.modal__video(width="100%" height="500" src="https://www.youtube.com/embed/UD93rl_PIM0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                        .profit__text Cмотреть видео о производстве
                section.benefit
                    .container
                        .benefit__title О пользе продукта 
                        .benefit__text Каждый вид ореха содержит свой неповторимый уникальный баланс витаминов, и микроэлементов 
                        .row
                            .col-lg-4
                                .benefit-item
                                    img.benefit-item__img(src="./img/nuts.png", alt="орех")
                                    img.benefit-item__logo(src="./img/орех.svg", alt="орех")
                                    span.benefit-item__title Грецкий орех
                                    span.benefit-item__text 
                                        | Дерево жизни - так часто величают грецкий орех, поскольку с давних пор он кормил, восстанавливал силы и лечил человека.
                                        br
                                        br
                                        | Даже небольшая горсть грецких орехов - это кладезь витаминов и хорошая профилактика многих заболеваний
                            .col-lg-4
                                .benefit-item
                                    img.benefit-item__img(src="./img/funduk.png", alt="фундук")
                                    img.benefit-item__logo(src="./img/фундук.svg", alt="фундук")
                                    span.benefit-item__title Фундук
                                    span.benefit-item__text 
                                        | Дерево жизни - так часто величают фундук, поскольку с давних пор он кормил, восстанавливал силы и лечил человека.
                                        br
                                        br
                                        | Даже небольшая горсть фундуков - это кладезь витаминов и хорошая профилактика многих заболеваний
                            .col-lg-4
                                .benefit-item
                                    img.benefit-item__img(src="./img/shipov.png", alt="шиповник")
                                    img.benefit-item__logo(src="./img/шиповник.svg", alt="шиповник")
                                    span.benefit-item__title Шиповник
                                    span.benefit-item__text 
                                        | Дерево жизни - так часто величают шиповник, поскольку с давних пор он кормил, восстанавливал силы и лечил человека.
                                        br
                                        br
                                        | Даже небольшая горсть шиповника - это кладезь витаминов и хорошая профилактика многих заболеваний
                section.eco
                    .container-fluid
                        img.eco__logo(src="./img/eco.svg", alt="play")
                        .eco__title Эко продукция 
                        .eco__text Выращиваем каждое деревцо с любовью, на экологически чистой земле, без использования пестицидов и химии 
                section.news
                    .container
                        .news__header.d-flex
                            .news__title
                                .news__heading Новости
                                .news__text  Свежие новости и полезная информация
                            .news__slider-button
                                button.slider-button-prev
                                    i.fas.fa-arrow-left
                                button.slider-button-next
                                    i.fas.fa-arrow-right
                        .row
                            .col-lg-12
                                .news__slider.d-flex
                                    .news-slide
                                        img.news-slide__img(src="./img/news1.png", alt="")
                                        .news-slide__date
                                            time 12.04.2019
                                        .news-slide__title Центр поддержки экспорта, в студии Павел Тулба
                                        .news-slide__text  Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...
                                        a.news-slide__link(href="#")
                                            | Читать 
                                            i.fal.fa-long-arrow-right  

                                    .news-slide
                                        .news-slide__header
                                            img.news-slide__img(src="./img/news2.png", alt="")
                                            button.news-slide__button(data-toggle="modal" data-target="#n_modal") 
                                                img(src="./img/play.svg", alt="play")
                                            .modal.fade#n_modal
                                                .modal-dialog.modal-dialog-centered
                                                    .modal-content
                                                        .modal-body
                                                            button.close(data-dismiss="modal") x
                                                            .modal__img
                                                                iframe.modal__video(width="100%" height="500" src="https://www.youtube.com/embed/UD93rl_PIM0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                                                                
                                        .news-slide__date
                                            time 12.04.2019
                                        .news-slide__title Центр поддержки экспорта, в студии Павел Тулба
                                        .news-slide__text  Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...
                                        a.news-slide__link(href="#")
                                            | Читать 
                                            i.fal.fa-long-arrow-right
                                        
                                        

                                    .news-slide
                                        img.news-slide__img(src="./img/news3.png", alt="")
                                        .news-slide__date
                                            time 12.04.2019
                                        .news-slide__title Центр поддержки экспорта, в студии Павел Тулба
                                        .news-slide__text  Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...
                                        a.news-slide__link(href="#")
                                            | Читать 
                                            i.fal.fa-long-arrow-right
                                    .news-slide
                                        img.news-slide__img(src="./img/news1.png", alt="")
                                        .news-slide__date
                                            time 12.04.2019
                                        .news-slide__title Центр поддержки экспорта, в студии Павел Тулба
                                        .news-slide__text  Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...
                                        a.news-slide__link(href="#")
                                            | Читать 
                                            i.fal.fa-long-arrow-right  
                                    .news-slide
                                        img.news-slide__img(src="./img/news3.png", alt="")
                                        .news-slide__date
                                            time 12.04.2019
                                        .news-slide__title Центр поддержки экспорта, в студии Павел Тулба
                                        .news-slide__text  Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...
                                        a.news-slide__link(href="#")
                                            | Читать 
                                            i.fal.fa-long-arrow-right             
                        button.news__button Смотреть все новости
                section.contacts
                    .container
                        .row
                            .col-md-5
                                .contacts__title Контакты
                                .contacts__items
                                    .contacts__phone
                                        img.phone__icon(src="./img/phone.png", alt="phone")
                                        .contacts__numbers
                                            a.contacts__link(href="tel: +38 (095) 711 11 11") 
                                                |  +38 (095) 711 11 11
                                            a.contacts__link(href="tel: +38 (095) 711 11 11") 
                                                |  +38 (095) 711 11 11
                                        .contacts__messanger
                                            a.messanger__icon(href="#")
                                                i.fab.fa-viber
                                            a.messanger__icon(href="#")
                                                i.fab.fa-telegram-plane
                                            a.messanger__icon(href="#")
                                                i.fab.fa-whatsapp
                                    .contacts__mail
                                        img.phone__icon(src="./img/mail.svg", alt="mail")
                                        a.contacts__link(href="mailto:nuts@nbsc.com.ua") nuts@nbsc.com.ua
                                    .contacts__adress
                                            img.phone__icon(src="./img/home.svg", alt="home")
                                            .contacts__info
                                                .adress__title Офис и отдел продаж 
                                                a.contacts__link(href="#")
                                                    |Украина, г. Одесса,
                                                    br
                                                    |ул. Космонавтов, 32
                                    .contacts__production
                                            img.phone__icon(src="./img/tree.svg", alt="tree")
                                            .contacts__info
                                                .production__title Производство
                                                a.contacts__link(href="#")
                                                    |Украина, Одесская обл, 
                                                    br
                                                    |с. Яськи, ул. Центральная, 232
                            .col-md-7
                                iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2750.1721971517645!2d30.7222505!3d46.4254664!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1561917973615!5m2!1sru!2sua" width="100%" height="518" frameborder="0" style="border:0" allowfullscreen)
            footer.footer
                .container
                    .row             
                        .col-lg-12
                            nav.page__nav
                                ul.page__menu.d-flex
                                    li.f-menu__item
                                        a(href="#").header__logo.d-flex
                                            img.logo__img(src="./img/logo.png", alt="logo")
                                            span.logo__text 
                                                |орех 
                                                br 
                                                |причерноморья
                                    li.f-menu__item
                                        a.f-menu__link Магазин
                                    li.f-menu__item
                                        a.f-menu__link Корпоративным клиентам
                                    li.f-menu__item
                                        a.f-menu__link Оплата и доставка
                                    li.f-menu__item
                                        a.f-menu__link О производстве
                                    li.f-menu__item
                                        a.f-menu__link Новости и статьи
                                    li.f-menu__item
                                        a.f-menu__link Галерея                      
                    .row
                        .col-lg-4.col-md-4
                            .developer
                                |Разработано 
                                span.developer__bold AVADA 
                                span.developer__green MEDIA

                        .col-lg-4.col-md-6
                            .copyrights.justify-content-center.d-flex
                                | Copyright © 2019. Все права защищены
                        .col-lg-4.col-md-2
                            .page__socials.justify-content-end.d-flex
                                ul.socials__list.d-flex
                                    li.socials__item
                                        a.socials__link(href="#")
                                            i.fab.fa-facebook-f
                                    li.socials__item
                                        a.socials__link(href="#")
                                            i.fab.fa-instagram
                                    li.socials__item
                                        a.socials__link(href="#")
                                            i.fab.fa-youtube
            script(src="./js/main.js")                        

                        




