.slider{
  margin: 0 30px;
}

.slick-slide img{
  width: 100%;
}

.slick-slide{
  margin: 0 10px;
  outline: none;
}

.slick-track  {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between;
}
  

.slick-prev:before,
.slick-next:before {
  color: black;
}

.prev_arrow{
  top: 25%;
  left: -4%;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  border: 8.5px solid transparent; 
  border-right: 12px solid #b4b4b4;
}

.next_arrow{
  top: 25%;
  right: -4%;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  border: 8.5px solid transparent; 
  border-left: 12px solid #b4b4b4;
}
