@font-face {
	font-family: 'Myriad Pro';
    src: url(../fonts/MyriadPro-Regular.eot);
    src: url(../fonts/MyriadPro-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/MyriadPro-Regular.woff2) format('woff2'),
    url(../fonts/MyriadPro-Regular.woff) format('woff'),
    url(../fonts/MyriadPro-Regular.ttf) format('truetype'),
    url(../fonts/MyriadPro-Regular.svg#MyriadPro-Regular) format('svg');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
	font-family: 'MyriadProCondRegular';
	src: url(../fonts/MyriadProCondRegular/MyriadProCondRegular.eot);
	src: url(../fonts/MyriadProCondRegular/MyriadProCondRegular.eot?#iefix)format("embedded-opentype"),
	url(../fonts/MyriadProCondRegular/MyriadProCondRegular.woff) format("woff"),
	url(../fonts/MyriadProCondRegular/MyriadProCondRegular.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
	}

@font-face {
	font-family: "MyriadProCondBold";
	src: url("../fonts/MyriadProCondBold/MyriadProCondBold.eot");
	src: url("../fonts/MyriadProCondBold/MyriadProCondBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProCondBold/MyriadProCondBold.woff") format("woff"),
	url("../fonts/MyriadProCondBold/MyriadProCondBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "MyriadProCondItalic";
	src: url("../fonts/MyriadProCondItalic/MyriadProCondItalic.eot");
	src: url("../fonts/MyriadProCondItalic/MyriadProCondItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProCondItalic/MyriadProCondItalic.woff") format("woff"),
	url("../fonts/MyriadProCondItalic/MyriadProCondItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "MyriadProCondBoldItalic";
	src: url("../fonts/MyriadProCondBoldItalic/MyriadProCondBoldItalic.eot");
	src: url("../fonts/MyriadProCondBoldItalic/MyriadProCondBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProCondBoldItalic/MyriadProCondBoldItalic.woff") format("woff"),
	url("../fonts/MyriadProCondBoldItalic/MyriadProCondBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
  
html, body{
	font-family:'Myriad Pro';
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
}

.phone p:first-line{
	font-size: 18px;
	color: #fff;
} 

.phone a{
	color: #fff;
	font-stretch: condensed;
	text-decoration: none;	
}

.phone {
	background: url(../img/background-img.jpg) no-repeat top center / cover;
	display: flex;
	justify-content: flex-end;
	padding: 200px 50px 235px 0;
	font-size: 26px;
	font-family: 'MyriadProCondRegular';
	position: relative;
} 		

.phone p span{
	display: block;
	font-size: 48px;
	color: #fff;
	font-family: 'MyriadProCondRegular';
	padding-bottom: 20px;
	padding-right: 20px;
	position: absolute;
	top: 244px;
	right:0;
}

.wrapper{
	max-width: 970px;
	margin: 0 auto;
	transform: translateY(-43px);
}

ul{
	margin: 0;
	padding: 0;
}

.menu{
	padding-top: 450px;
	display: flex;
	justify-content: space-between;
	background: #03a5d2;
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu li a{
	padding: 12px 25px;
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'MyriadProCondRegular';
	transition: 0.4s;
}

.menu li a:hover{
	background: #03bfdf;
}

.work{
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
}

.objection{
	display: flex;
}

figure{
	margin: 0;
	padding: 0;
}

.about_objection{
	padding-left: 10px;

}

.about_objection p:first-line{
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'MyriadProCondRegular';
	color: #4e4e4e;
	margin: 0;
}

.about_objection p{
	font-style: 'tahoma';
	font-size: 11px;
	color: #868787;
	margin: 0;
	padding-bottom: 13px;
	

}

.about_objection a{
	display: inline-block;
	font-size: 10px;
	color: #25b4dc;
	text-transform: uppercase;
}

a:hover{
	text-decoration: none;
}

.company{
	display: flex;
	justify-content: space-between;
}

aside{
	width: 33%;
	padding-top: 58px;
}

.news_title{
	font-family: 'MyriadProCondRegular';
	text-transform: uppercase;
	font-size: 23px;
	color: #008fbf;
	padding-bottom: 30px;
}

.news_list{
	list-style: none;
}

.news_list li{
	font-size: 12px;
	padding: 6px 0;
}

.news_list li a{
	color: #00a7c0;
}

.news_all a{
	color: #015967;
	font-size: 13px;
}

.order_online{
	padding-top: 30px;
	text-transform: uppercase;
	font-size: 23px;
	font-family: 'MyriadProCondRegular';
	color: #1f6f7c;
}

aside p{
	font-size: 13px;
	color: #04a7c0;
	margin: 0;
	padding: 15px 0 10px;

	
}

.button{
	display:inline-block;
	text-decoration: none;
	background: rgb(0,140,190);
	background: linear-gradient(0deg, rgba(0,140,190,1) 0%, rgba(5,204,234,1) 100%); 
	overflow: hidden;
	color: #fff;
	padding: 7px 60px 7px 60px;
	border-radius: 7px;
	position: relative;
	border-left: 2px;
	font-size: 12px;
	transition: 0.3s;
}

.button:active{
	text-decoration: none;
	background: rgb(10,179,238);
	background: linear-gradient(0deg, rgba(10,179,238,1) 0%, rgba(74,199,230,1) 100%);
	overflow: hidden;
	color: #fff;
	padding: 7px 60px 7px 60px;
	border: 1px solid #fff;
	border-radius: 7px;
	position: relative;
	border-left: 2px;
}

.button:before{
	position: absolute;
	content:'\bb';
	top: 15%;
	left: 0;
	border-right: #018db9 solid 2px;
	padding: 5px 20px ;
}

.button:hover{
	background: rgb(162,231,255);
	background: linear-gradient(0deg, rgba(162,231,255,1) 0%, rgba(255,255,255,1) 100%);
	overflow: hidden;
	color: #04a7c0;
	border-left: 2px;
}


.button:first-line{
	font-size: 20px;
}

article{
	width: 66%;
	padding-top: 58px;
}

.about_title{
	font-family: 'MyriadProCondRegular';
	text-transform: uppercase;
	font-size: 23px;
	color: #008fbf;
}

article p{
	font-size: 13px;
	color: #797979;
	line-height: 24px;
	border-top: dashed #d5d5d5 1px;
	border-bottom: dashed #d5d5d5 1px;
	padding: 17px 0;
}

.offer_title{
	font-family: 'MyriadProCondRegular';
	text-transform: uppercase;
	font-size: 19px;
	color: #008fbf;
}

.offer_list{
	display: flex;
	justify-content: space-between;
	border-bottom: dashed #d5d5d5 1px;
	padding-bottom: 15px;
}

.offer_list ul{
	list-style: none;
	padding-left: 5px;
}

.offer_list ul:last-child{
	padding: 0 50px;
}

.offer_list ul li{
	font-size: 13px;
	padding: 5px 0;
}

.offer_list ul li a{
	font-size: 13px;
	color: #11adc4;
}
.offer_list ul li:before{
	content: '-';
	text-decoration: none;
	position: relative;
	left: -5px;
	color: #11adc4;
}

.projects_title{
	padding: 35px 0 25px;
	font-family: 'MyriadProCondRegular';
	text-transform: uppercase;
	font-size: 23px;
	color: #008fbf; 
}

.slider{
	display: flex;
	justify-content: space-between;
}

.building{
	outline: none;
}

.slick-slide{
 padding: 0 20px;
}

.about_project{
	font-size: 13px;
	color: #6f6f6f;
}

.about_project a{
	display:block;
	padding: 5px 0;
	font-size: 15px;
	font-weight: 600;
	text-decoration: underline;
	color: #33b9cd;
}
.about_project a:hover{
	text-decoration: none;
}

.about_project span{
	color: black;
	font-weight: 600;
}

.projects p{
	font-size: 13px;
	color: #797979;
	line-height: 24px;
	padding: 45px 0 55px 30px;
	border-bottom: dashed #d5d5d5 1px;
	margin: 0;
}

footer{
	padding-bottom: 10px;
}

.footer_menu{
	display: flex;
	list-style: none;
	padding: 15px 0 50px 0;
	margin-left: -22px;
	
}

.footer_menu li a{
	padding: 10px 22px;
	display: inline-block;
	color: #33b9cd;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	transition: 0.1s;
}

.footer_menu li a:hover{
	color: #fff;
	background: #03a5d2;
	border-radius: 3px;
}

.contacts{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

}

.adress p{
	font-family: 'tahoma';
	font-size: 12px;
	color: #797979;
	margin: 0;
	line-height: 17px;
	padding-bottom: 28px;
}

.adress a{

	font-family: 'tahoma';
	font-size: 12px;
	color: #33b9cd;
}

.worktime p{
	font-family: 'tahoma';
	font-size: 12px;
	color: #797979;
	margin: 0;
	padding-bottom: 35px;
}

.worktime a{
	font-family: 'MyriadProCondRegular';
	font-size: 22px;
	color: #33b9cd;
	text-decoration: none;
}

#mail{
	font-family: 'tahoma';
	font-size: 12px;
	color: #797979;
}

.web a{
	font-family: 'tahoma';
	font-size: 12px;
	color: #797979;
}

.web p{
	font-family: 'tahoma';
	font-size: 12px;
	color: #797979;
	font-weight: bold;
	margin: 0;
}

.copyright{
	font-family: 'tahoma';
	font-size: 12px;
	color: #797979;
	padding-top: 25px;
}



































