<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width= , initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Hot Dog
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(rel="stylesheet" href="./css/main.css")
    body
        header.header
            .container-fluid
                .header__insta 
                    img.header__insta-icon(src="./img/insta.svg", alt="insta") 
                    span.header__insta-hashtag #hotdogs 

                
        section.menu.sticky-top
            .navbar.navbar-expand-sm.navbar-light
                .container
                    button.navbar-toggler.ml-auto(data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                    #my-nav.collapse.navbar-collapse.justify-content-center
                        ul.navbar-nav   
                            li.nav-item 
                                a.nav-link menu
                            li.nav-item 
                                a.nav-link catering
                            li.nav-item 
                                a.nav-link about us
                            li.nav-item 
                                a.nav-link contact
        section.heading
            .container
                .heading__body.d-flex
                    .heading__icon
                        img(src="./img/hotdog.svg", alt="hotdog")
                    h1.heading__title Dirty Dogs serves all-beef, vegan and vegatagian hot dogs.
                    button.heading__button More Dogs ‘n Make Em Hot
        section.range
            .container
                .row
                    .col-md-6
                        .range__desc
                            .range__title Gormet All Beef Hotdogs
                            .range__text Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                    .col-md-6
                        .range__img
                            img(src="./img/img1.png", alt="beef_hotdog")
                .row
                    .col-md-6.order-2
                        .range__desc
                            .range__title Vegan Hotdogs
                            .range__text Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                    .col-md-6.order-1
                        .range__img
                            img(src="./img/img2.png", alt="beef_hotdog")
                .row
                    .col-md-6
                        .range__desc
                            .range__title Vegitarian Hotdogs
                            .range__text Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                    .col-md-6
                        .range__img
                            img(src="./img/img3.png", alt="beef_hotdog")                    
        footer.footer
            .container
                .footer__body
                    .footer__copyright ® 2016 Dirty Dogs all rights reserved
                    .footer__contact 
                        a.footer__link(href="#") 274 Marconi Blvd. Columbus, Ohio 43215   
                        a.footer__link(href="#") |   614.538.0095   |   
                        a.footer__link(href="#") Contact Us		   	
