
.button_signup{
	background: transparent;
	padding: 5px 17px;
	margin-bottom: 6px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 2px;
	text-decoration: none;
	cursor: pointer;
	outline: 0 !important;
	transition: 0.3s;
}

.button_signup:active{
	box-shadow: 1px 1px 5px #fff, 
				-1px -1px 5px #fff;
}

.button_signup:hover{
	background-color: #061e37;
	border: 1px solid #061e37;
	border-radius: 2px;
}

.play_button{
	background: transparent;
	position: absolute;	
	top: 53%;	
	left: 45%;					
}

.button_buy{
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	padding: 18px 38px;
	border: none;
	border-radius: 5px;
	background-color: #061e37;
	cursor: pointer;
	outline: 0 !important;
	transition: 0.3s;
}

.button_buy:hover{
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	background-color: #fff;
	color: #061e37;
}

.button_buy:active{

	
}

.button_try{
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	padding: 18px 25px;
	margin-left: 28px;
	border: none;
	border-radius: 5px;
	background-color: #061e37;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	outline: 0 !important;
	transition: 0.3s;
}

.button_try:hover{
	background-color: #fff;
	color: #061e37;
}

.button_try:active,
.button_buy:active{
	background-color: #ffffff;
	color: #061e37;
	box-shadow: inset 2px 2px 7px gray, 
				inset -2px -2px 7px gray;
}

.button_tools{
	margin: 0 auto;	
	padding: 20px 23px; 		
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	background-color: #1de9b6;
	cursor: pointer;
	transition: 0.3s;
	outline: 0 !important;
}

.button_tools:hover{
	background-color: #061e37;	
}

.button_tools:active{
	background-color: #ffffff;
	color: #061e37;
	box-shadow: inset 2px 2px 7px gray, 
				inset -2px -2px 7px gray;
}


.button_get{
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	padding: 18px 23px;
	border: none;
	border-radius: 5px;
	background-color: #061e37;
	cursor: pointer;
	outline: 0 !important;
	transition: 0.3s;
	margin-bottom: 135px;
	transition: 0.3s;
}

.button_get:hover{
	color: #061e37;
	background-color: #fff;
}

.button_get:active{
	background-color: #ffffff;
	color: #061e37;
	box-shadow: inset 2px 2px 7px gray, 
				inset -2px -2px 7px gray;
}

.button_send{
	padding: 10px 43px;			
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 5px;
	background-color: #1de9b6;
	color: #ffffff;
	font-weight: 700;
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;

}

.button_send:hover{
	color: #fff;
	background-color: #061e37;
}

.button_send:active{
	background-color: #ffffff;
	color: #061e37;
	box-shadow: inset 2px 2px 7px gray, 
				inset -2px -2px 7px gray;
}




