html {
  box-sizing: border-box; }

body {
  font-family: 'Raleway' sans-serif;
  font-family: 'Montserrat', sans-serif; }

.wrapper {
  overflow: hidden !important; }

*::after, *::before {
  box-sizing: inherit; }

ul {
  list-style-type: none;
  padding-left: 0; }

a {
  display: inline-block;
  text-decoration: none; }
  a:hover {
    text-decoration: inherit; }

button {
  cursor: pointer !important; }

.container {
  max-width: 1340px !important; }

.header {
  padding-top: 10px;
  background-color: #FFFFFF; }

.header .row:nth-child(2) {
  display: flex;
  align-items: center; }

.socials__item {
  margin: 0 10px; }

.socials__link {
  cursor: pointer; }
  .socials__link i {
    color: #323232;
    transition: .3s; }
    .socials__link i:hover {
      color: #93B474; }

.header__discount {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #337D5A; }

.heager__log {
  margin-left: auto; }

.log__item {
  margin: 0 15px; }

.log__link {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.02em;
  color: #323232; }
  .log__link:hover {
    border-bottom: 2px solid #93B474;
    text-decoration: none; }
  .log__link i {
    color: #93B474;
    padding: 0 10px; }

.log__lang select {
  position: relative;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #000000;
  -webkit-appearance: button;
  cursor: pointer; }
  .log__lang select select::before {
    position: absolute;
    top: 10%;
    right: 2%;
    content: '\f078';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 700;
    font-size: 10px;
    color: #337D5A; }
  .log__lang select option {
    font-family: 'Raleway' sans-serif;
    font-weight: 500;
    font-size: 13px !important;
    letter-spacing: 0.02em;
    color: #000000;
    cursor: pointer; }

.header__logo {
  display: block;
  align-items: center; }

.navbar-brand {
  display: none !important; }

.logo__img {
  display: inline-block; }

.logo__text {
  display: inline-block;
  padding-left: 8px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  color: #1A2F3F; }

.header__contact {
  align-items: center; }

.messanger__icon {
  margin: 0 5px; }
  .messanger__icon i {
    height: 31px;
    width: 31px;
    border-radius: 50%;
    background-color: #337D5A;
    color: #fff;
    text-align: center;
    line-height: 30px;
    transition: .3s; }
    .messanger__icon i:hover {
      background-color: transparent;
      color: #337D5A; }

.contact__number {
  flex-direction: column;
  padding-left: 30px; }

.number__phone {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #337D5A; }
  .number__phone span {
    color: #000; }

.header__call {
  justify-content: space-between;
  align-items: center; }

.call__button {
  padding: 10px 18px;
  background-color: #337D5A;
  border: 1.5px solid #337D5A;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #fff;
  transition: .3s; }
  .call__button:hover {
    background-color: transparent;
    color: #337D5A; }

.call__text {
  padding-left: 15px;
  max-width: 178px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #8A8A8A; }

.header hr {
  height: 1px;
  color: rgba(0, 0, 0, 0.08);
  width: 100%; }

.page__nav {
  margin: 0 auto; }

.page__menu {
  margin-bottom: 0 !important; }

.nav-link {
  padding-bottom: 17px;
  font-weight: 400;
  font-size: 15px;
  border-bottom: 3px solid transparent;
  letter-spacing: 0.02em;
  color: #1A2F3F !important;
  transition: .3s;
  cursor: pointer; }
  .nav-link:hover {
    font-style: normal;
    color: #337D5A !important;
    border-bottom: 3px solid #337D5A; }

.menu__item {
  margin: 0 25px; }

.menu__link {
  font-weight: 400;
  font-size: 15px;
  border-bottom: 3px solid transparent;
  letter-spacing: 0.02em;
  color: #1A2F3F !important;
  transition: .3s;
  cursor: pointer; }
  .menu__link:hover {
    font-style: normal;
    color: #337D5A !important;
    border-bottom: 3px solid #337D5A; }

.heading {
  padding-top: 200px;
  padding-bottom: 140px;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.heading__title {
  text-align: center;
  font-weight: 700;
  font-size: 62px;
  letter-spacing: 0.01em;
  color: #FFFFFF; }

.heading__text {
  margin: 30px auto 30px;
  max-width: 600px;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF; }

.heading__button {
  display: block;
  background: transparent;
  border: none;
  margin: 0 auto;
  transition: .3s;
  cursor: pointer; }
  .heading__button:hover {
    transform: scale(1.2); }

.heading .modal-dialog {
  max-width: 700px; }

.store {
  padding-top: 85px;
  padding-bottom: 90px; }

.store__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
  font-weight: 700;
  font-size: 45px;
  letter-spacing: 0.01em;
  color: #1A2F3F; }

.store__text {
  margin: 0 auto 70px;
  max-width: 600px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #1A2F3F; }

.store__box {
  position: relative;
  max-width: 406px;
  margin-bottom: 50px;
  border: 1.5px solid rgba(0, 0, 0, 0.08);
  transition: .3s; }
  .store__box:hover {
    border: 1.5px solid #93B474; }
  .store__box:hover .arrow-next {
    opacity: 1; }
  .store__box:hover .arrow-prev {
    opacity: 1; }
  .store__box:hover .box-zoom {
    opacity: 1; }

.box__mark {
  position: absolute;
  top: 20px;
  left: 0; }

.arrow-prev {
  position: absolute;
  top: 140px;
  left: 15px;
  background-color: transparent;
  opacity: 0;
  border: none;
  font-size: 30px;
  color: #8A8A8A;
  transition: .3s; }
  .arrow-prev:hover {
    color: #337D5A; }

.arrow-next {
  position: absolute;
  top: 140px;
  right: 15px;
  background-color: transparent;
  opacity: 0;
  border: none;
  font-size: 30px;
  color: #8A8A8A;
  transition: .3s; }
  .arrow-next:hover {
    color: #337D5A; }

.box__img {
  position: relative;
  width: 100%; }
  .box__img img {
    width: 100%;
    margin: 0 auto;
    display: block; }
  .box__img .box-zoom {
    position: absolute;
    text-align: center;
    top: 120px;
    left: 44.33%;
    background-color: transparent;
    border: none;
    transition: .3s;
    opacity: 0; }
    .box__img .box-zoom:hover {
      transform: scale(1.5); }

.box__name {
  padding: 0 25px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #1A2F3F; }

.box__number {
  padding: 10px 25px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: #8A8A8A; }

.box__discribe {
  padding: 0 25px;
  max-width: 300px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #000000; }

.box__about {
  padding: 20px 25px;
  justify-content: space-between; }
  .box__about .box__weight, .box__about .box__pack {
    display: flex;
    align-items: center; }
    .box__about .box__weight span, .box__about .box__pack span {
      display: inline-block;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.01em;
      color: #337D5A !important; }
      .box__about .box__weight span::first-line, .box__about .box__pack span::first-line {
        color: #8A8A8A !important; }
    .box__about .box__weight img, .box__about .box__pack img {
      display: inline-block;
      padding-right: 10px; }

.box__buy {
  padding: 15px 25px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.08); }
  .box__buy .box__price {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.01em;
    color: #1A2F3F; }
    .box__buy .box__price .price__new {
      padding-left: 15px;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0.01em;
      color: #337D5A; }
    .box__buy .box__price .price__old {
      padding-left: 15px;
      text-decoration: line-through;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.01em;
      color: #8A8A8A; }

.box__button {
  padding: 10px 30px;
  display: block;
  background-color: #337D5A;
  border: 2px solid #337D5A;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  transition: .3s;
  cursor: pointer; }
  .box__button:hover {
    background-color: transparent;
    color: #337D5A; }

.modal__img {
  padding: 0 50px; }
  .modal__img img {
    display: block;
    padding: 20px;
    margin: 0 auto; }

.store__button {
  margin: 50px auto 0;
  padding: 15px 25px;
  display: block;
  background-color: #337D5A;
  border: 2px solid #337D5A;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  transition: .3s; }
  .store__button:hover {
    background-color: transparent;
    color: #337D5A; }

.manufacturer {
  padding-top: 100px;
  padding-bottom: 90px;
  background-color: #FBFBFB; }
  .manufacturer__video {
    position: relative; }
    .manufacturer__video:hover .manufacturer__arrows {
      opacity: 1; }
  .manufacturer__arrows {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    opacity: 0;
    transition: .3s; }
  .manufacturer__arrows {
    font-size: 0; }

.manufacturer__title {
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 45px;
  letter-spacing: 0.01em;
  color: #1A2F3F; }

.manufacturer__text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #1A2F3F; }
  .manufacturer__text span {
    color: #337D5A; }

.manufacturer__button {
  margin-top: 70px;
  padding: 15px 43px;
  display: block;
  background-color: #337D5A;
  border: 2px solid #337D5A;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  transition: .3s; }
  .manufacturer__button:hover {
    background-color: transparent;
    color: #337D5A; }

.manu__video {
  display: block !important;
  width: 700px;
  height: 472px; }

.manu_arrow_prev,
.manu_arrow_next {
  padding: 20px 26px;
  background-color: #337D5A;
  border: none;
  font-weight: 700;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5); }
  .manu_arrow_prev:hover,
  .manu_arrow_next:hover {
    color: #FFFFFF; }

.manufacturer-about {
  padding: 70px 0; }
  .manufacturer-about .container, .manufacturer-about .col-lg-3 {
    padding: 0; }
  .manufacturer-about__number {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 0.01em;
    color: #1A2F3F; }
    .manufacturer-about__number span {
      vertical-align: text-top;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.05em;
      color: #1A2F3F; }
  .manufacturer-about__text {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1A2F3F; }

.profit {
  padding: 240px 0;
  background-image: url(../img/bg2.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .profit__title {
    max-width: 1200px;
    margin: 0 auto 70px;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF; }
  .profit__button {
    display: block;
    background: transparent;
    border: none;
    margin: 0 auto;
    transition: .3s;
    cursor: pointer; }
    .profit__button:hover {
      transform: scale(1.2); }
  .profit__text {
    margin-top: 30px;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.01em;
    color: #FFFFFF; }

.benefit {
  padding-top: 80px;
  padding-bottom: 100px; }
  .benefit__title {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 0.01em;
    color: #1A2F3F; }
  .benefit__text {
    margin: 30px auto 50px;
    max-width: 600px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #1A2F3F; }

.benefit-item {
  position: relative;
  max-width: 410px;
  max-height: 525px;
  z-index: 1; }
  .benefit-item:hover .benefit-item__text {
    opacity: 0.8; }
  .benefit-item:hover .benefit-item__title {
    top: 34.3%; }
  .benefit-item:hover .benefit-item__logo {
    top: 20.8%; }
  .benefit-item__img {
    width: 100%; }
  .benefit-item__logo {
    position: absolute;
    z-index: 5;
    top: 38.1%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: .3s; }
  .benefit-item__title {
    position: absolute;
    z-index: 5;
    top: 52.4%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    transition: .3s; }
  .benefit-item__text {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 230px 24px 0 24px;
    width: 100%;
    height: 100%;
    background-color: #337D5A;
    opacity: 0;
    transition: .3s;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF; }

.eco {
  padding-top: 230px;
  padding-bottom: 260px;
  background-image: url(../img/bg3.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .eco__logo {
    display: block;
    margin: 0 auto 45px; }
  .eco__title {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 0.01em;
    color: #FFFFFF; }
  .eco__text {
    margin: 0 auto;
    max-width: 700px;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF; }

.news {
  padding-top: 85px;
  padding-bottom: 90px;
  background-color: rgba(249, 249, 249, 0.7); }
  .news__header {
    justify-content: space-between; }
  .news__heading {
    margin-bottom: 10px;
    text-align: left;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 0.01em;
    color: #1A2F3F; }
  .news__text {
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    letter-spacing: 0.01em;
    color: #1A2F3F; }
  .news__button {
    margin: 70px auto 0;
    padding: 15px 25px;
    display: block;
    background-color: #337D5A;
    border: 2px solid #337D5A;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    transition: .3s; }
    .news__button:hover {
      background-color: transparent;
      color: #337D5A; }

.news__slider-button {
  font-size: 0; }
  .news__slider-button .slider-button-prev,
  .news__slider-button .slider-button-next {
    padding: 20px 26px;
    background-color: #337D5A;
    border: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5); }
    .news__slider-button .slider-button-prev:hover,
    .news__slider-button .slider-button-next:hover {
      color: #FFFFFF; }

.news__slider {
  margin-top: 40px;
  justify-content: space-between; }

.news .slick-slide {
  margin: 0 16px; }

.news-slide {
  width: 408px;
  background-color: #FFFFFF; }
  .news-slide__header {
    position: relative; }
  .news-slide__img {
    display: block;
    width: 100%; }
  .news-slide__button {
    position: absolute;
    background: transparent;
    border: none;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }
  .news-slide__date {
    padding: 0 10px 0 24px;
    margin-top: 22px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.01em;
    color: #8A8A8A; }
  .news-slide__title {
    padding: 0 10px 0 24px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #1A2F3F; }
  .news-slide__text {
    padding: 0 10px 0 24px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #1A2F3F; }
  .news-slide__link {
    padding: 0 10px 0 24px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #1A2F3F;
    transition: .3s; }
    .news-slide__link:hover {
      color: #337D5A; }

.contacts {
  padding-top: 100px;
  padding-bottom: 110px; }
  .contacts__title {
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 0.01em;
    color: #1A2F3F; }
  .contacts__phone {
    margin-top: 70px;
    display: flex;
    align-items: center; }
  .contacts__mail {
    padding-top: 30px;
    display: flex; }
  .contacts__adress, .contacts__production {
    padding-top: 30px;
    display: flex;
    align-items: flex-start; }
  .contacts__link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #1A2F3F;
    transition: .3s; }
    .contacts__link:hover {
      color: #337D5A; }

.phone__icon {
  display: block;
  color: #337D5A;
  padding-right: 15px;
  padding-top: 3px; }

.contacts__numbers {
  padding-right: 50px; }
  .contacts__numbers a {
    display: block;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #1A2F3F;
    transition: .3s; }
    .contacts__numbers a:hover {
      color: #337D5A; }

.adress__title,
.production__title {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.01em;
  color: #1A2F3F; }

.adress__heading,
.production__heading {
  display: flex; }

.adress__text,
.production__text {
  padding-left: 15px; }

.contacts .col-lg-7 {
  width: 100%; }

.contacts_map {
  width: 100%; }

.footer .page__nav {
  padding-bottom: 30px; }

.footer .page__menu {
  align-items: flex-end; }
  .footer .page__menu .menu__item {
    margin: 0 20px; }
  .footer .page__menu .menu__link {
    padding-bottom: 0; }
    .footer .page__menu .menu__link:hover {
      border: none; }

.f-menu__item {
  margin: 0 20px; }

.f-menu__link {
  font-weight: 400;
  font-size: 15px;
  border-bottom: 3px solid transparent;
  letter-spacing: 0.02em;
  color: #1A2F3F !important;
  transition: .3s;
  cursor: pointer; }
  .f-menu__link:hover {
    color: #337D5A !important; }

.footer hr {
  height: 1px;
  color: rgba(0, 0, 0, 0.08);
  width: 100%;
  padding-bottom: 30px; }

.developer {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #1A2F3F; }
  .developer__bold {
    font-weight: 600;
    color: #337D5A; }
  .developer__green {
    color: #337D5A; }

.copyrights {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #1A2F3F; }

/*# sourceMappingURL=main.css.map */
