@font-face {
    font-family: 'Elektra Light Pro';
    src: url(../fonts/ElektraLightPro-Bold.eot);
    src: url(../fonts/ElektraLightPro-Bold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/ElektraLightPro-Bold.woff2) format('woff2'),
        url(../fonts/ElektraLightPro-Bold.woff) format('woff'),
        url(../fonts/ElektraLightPro-Bold.ttf) format('truetype'),
        url(../fonts/ElektraLightPro-Bold.svg#ElektraLightPro-Bold) format('svg');
    
}

@font-face {
    font-family: 'Elektra Light Pro';
    src: url(../fonts/ElektraLightPro.eot);
    src: url(../fonts/ElektraLightPro.eot?#iefix) format('embedded-opentype'),
        url(../fonts/ElektraLightPro.woff2) format('woff2'),
        url(../fonts/ElektraLightPro.woff) format('woff'),
        url(../fonts/ElektraLightPro.ttf) format('truetype'),
        url(../fonts/ElektraLightPro.svg#ElektraLightPro) format('svg');
}

body{
    font-family: 'Elektra Light Pro' ,arial,  sans-serif ;
    margin: 0; 
    padding: 0;
}

.wrapper{
    margin: 0 auto;
    width: 1600px;
}

p{
    margin: 0;
}

a:hover{
    text-decoration: none;
}

.header{
    display: flex;
    flex-direction: column;
}

.header_top{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 10px 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #999999;
}

.logo{
    display: block;
    text-decoration: none;
}

.logo p{
    margin: 0;
    color: #666666;
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.28px;
}

.logo img{
    display: inline-block;
}

.header_body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_title{
    margin-left: 208px;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0.41px;
}

.header_body hr{
    margin: 0;
    border: none;
    background-color:#f7e300;
    height: 3px; 
}

.header_nav{
    display: flex;
}

.header_title span{
    font-weight: 700;
}

.menu{
    margin-bottom: 0;
    margin-top: 32px;
    margin-right: 117px;
    margin-left: 41px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu li{
    padding: 0 25px;
}

.menu li a{
    padding: 0 10px;
    color: #666666;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.1px;
}

.menu li a:hover{
    background: #f7e300;
    box-sizing: border-box;
}

.form_header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: solid 1px #999999;
}

 .search{
    width: 280px;
    background: transparent;
    border: none;
    outline: none;
    cursor: text;
    color: #666;
    font-family: "Elektra Light Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.search[type="search"]::placeholder,
.form_text[type="text"]::placeholder,
.form_text[type="tel"]::placeholder{
    color: #999999;
    letter-spacing: 2.2px;
    font-size: 11px;
    text-transform: uppercase;
}


.search_button{
    background: url(../img/search.png) no-repeat;
    width: 40px; 
    height: 20px;
    border: none;
}

.header_phone{
    display: inline-block;
    color: #666666;
    padding-left: 20px;
    margin-top: 54px;
    text-decoration: none;
    font-size: 30px;
}

.main_menu{
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: 25px;
}

.main_menu li a{
    padding: 5px 14px 0 5px;
    font-size: 13px;
    color: #00f;
}

.main_menu li img:not(.case_arrow){
    margin-bottom: 3px;
}

.main_menu li a span{
    display: inline-block;
    color: #ccc;
    text-decoration: none;
}
 .way { 
   display: flex;
}

.way_image{
    width: 50%;
}

.way_image img{
    display: block;
    width: 100%;
}

.way_content{
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 664px;
    padding-left: 50px;
    padding-right: 86px;
}

.way_heading{
    display: inline-block;
    position: relative; 
    max-width: 580px;
    padding-top: 30px;
    padding-left: 42px;
    box-sizing: border-box;
    border: #f7e300 solid;
    border-width: 5px;
    font-size:30px;
    font-weight: bold;
    color: #666666;
    text-align: left;
    letter-spacing: 1.1px;  
}

.way_heading p{
    display: inline-block;
    margin-bottom: 19px;
    color: #666666;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 30px;   
}

.way_heading:before { 
    content: ' '; 
    position: absolute; 
    width: 0; 
    height: 0; 
    left: -5px; 
    top: 118px; 
    border: 20px solid; 
    border-color: #f7e300 transparent transparent #f7e300;; 
}
.way_heading:after { 
    content: ' '; 
    position: absolute; 
    width: 0; 
    height: 0; 
    left: 0px; 
    top: 108px; 
    border: 19px solid; 
    border-color: #fff transparent transparent #fff; 
}

.way_content p:nth-child(2){
    margin-top: 73px;
    margin-bottom: 53px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.17px;
    color: #666666;
}

.way_content p:nth-child(3){
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 2.3px;
    color: #666666;
}

.way_content p:nth-child(4){
    margin-top: 16px;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.17px;
}

.offer{
    display: flex;
    background-color: #f4f6f4;  
}


.offer_heading{
    margin-top: 51px;
    margin-bottom: 60px;
    padding-left: 50px;
    position: relative;
    width: 50%;
}

.offer_heading:before { 
    content: ' '; 
    position: absolute; 
    width: 0; 
    height: 0; 
    right:20px; 
    top: 0; 
    border-top: 35px solid #f7e300; 
    border-right: 35px solid transparent; 
}

.offer_heading:after { 
    content: ' '; 
    position: absolute; 
    width: 0; 
    height: 0; 
    right:32px; 
    top: 5px; 
    border-top: 28px solid #f4f6f4; 
    border-right: 28px solid transparent; 
}

.offer_heading p{
    padding-left: 27px;
    padding-top: 18px;
    padding-bottom: 18px;
    max-width: 750px;
    color:#666;
    font-size: 30px;
    box-sizing: border-box;
    border: #f7e300 solid 5px;
    text-align: left;
    letter-spacing: 0.2px;
}

.offer_heading span{
    font-weight: bold;
}

.offer_list{
    margin-top: 54px;
    width: 40%;
    padding: 0;
    list-style: none;
    line-height: 29px;
    font-size:14px;
}

.contact{
    display: flex;
}

.contact img{
    display: block;
}

.contact_creator, .contact_help {
    position: relative; 
} 

.contact_creator p{
    color: #fff;
    position: absolute;
    bottom:5.5%;
    left: 5.5%;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.5px;
} 

.contact_creator p::first-line{
    font-weight: bold;
    font-size: 18px;
}    
 
.contact_help p{
    color: #666;
    position: absolute;
    bottom: 37%;
    left: 24%;
    font-size: 14px;
    line-height: 31px;
} 

.contact_help p::first-line{
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    line-height: 90px;
}  

.contact_form{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 110px;
    margin-top: 66px;
}

.form_text{
    padding-bottom: 8px;
    width: 300px;
    color: #666;
    font-family: 'Elektra Light Pro';
    font-size: 14px;
    border: none;
    border-bottom: solid 1px #ccc; 
    outline: none;
}

.contact_form li{
    display: inline-block;
    padding: 11px 0;
}

.contact_form p{
    color: #666;
    margin: 0;
    padding: 0;
}

.contact_form li:nth-child(3){
   padding-top: 14px;
}

.contact_form li:nth-child(4){
    padding-top: 0;
 }

.form_button{
    margin-top: 14px;
    padding:22px 50px;
    border: none;
    background: #2867db;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2.5px; 
    transition: 0.3s;
}

.form_button:hover{
    background: yellow;
    color: #666;
}

footer{
    display: flex;
    background: #f4f6f4;
    justify-content: space-between;
    padding: 70px 80px 0 50px;
}

.footer_logo{
    color: #666;
    font-size: 12px;
    line-height: 20px;
}

.footer_logo img{
    display: inline-block;
    margin-bottom: 20px;
}

.footer_logo p{
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.14px;
}

.footer_list{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 30px;
}

.list_heading{
    color: #666666;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 2.1px;
}

.list_heading a:after{
	position: absolute;
	font-family: "Font Awesome 5 Free";
	content: "\f0d7";
	font-size: 20px;
	transition: 0.3s;
	right: 3%;
}

.footer_list li a{
    padding: 10px 0;
    font-size:  14px;
    color: blue;
    text-transform: none;
    font-weight:400;
}

.footer_policy{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.socials{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 100px;
}

.socials_media{
    display: none;
}

.socials li{
    z-index: 10;
}

.socials li a{
    height: 20px;
    margin: 0 9px;
    display: inline-flex;
    position: relative;
    width: 45px;
    border-radius: 50%;
    background: white;
    justify-content: center;
}

.policy a{
    display: inline-block;
    color: #0000ff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.14px;
}

.footer_media{
    display: none;
}



    
    
