@media(max-width:1366px){
    .wrapper{
        width: 100%;
    }

    .menu {
        margin-right: 60px;
        margin-left: 20px;
    }

    .menu li {
        padding: 0 15px;
    }

    .search {
        width: 200px;
    }

    .way{
        align-items: center;
    }

    .offer_heading {
        padding-left: 20px;
    }

    .offer_heading p {
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 24px;
    }

    .offer_heading:before {
        display: none;
    }

    .offer_heading:after {
        display: none;
    }

     .contact_help {
        width: 25%;
    }

    .contact_help img{
        width: 100%;
        height: 100%;
    }

    .contact_help p{
        bottom: 37%;
        left: 15%;
    } 
    
    .contact_form {
        padding: 0 60px ;
    }

    .form_button{
        margin-top: 14px;
        padding:18px 40px;
        border: none;
        background: #2867db;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 2.5px; 
        transition: 0.3s;
    }
}

@media(max-width:1024px){

    .header_top{
        flex-direction: column;
        align-items: center;
    }

    .header_title{
        padding-top: 40px;
        margin: 0;
    }
    .header_phone{
        margin-top: 40px;
    }

    .way{
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 80px;
    }

    .way_image{
        padding-bottom: 40px;
        width: 100%;
    }

    .way_content{
        max-width: 100%;
        width: 100%;
        padding: 0;
    }

    .way_heading{
        max-width: 100%;
        text-align: center;
        width: 100%;
        padding-left: 0;
    }

    .way_heading:before,
    .way_heading:after { 
        display: none; 
    }
    
    .way_heading{
        font-size:20px;
    }
    .way_content p:nth-child(2) {
        margin-bottom: 40px;
    }

    .offer{
        padding: 0 80px;
    }

    .offer_heading, .offer_list  {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .offer_heading{
        padding: 0;
    }

    .offer_heading p {
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;
    }

    .offer_list {
        margin-left: 40px;
        line-height: 23px;
    }

    .contact{
        padding: 0 80px;
    }

    .contact_creator{
        display: none;
    }

    .contact_help{
        width: 50%;
    }

    .footer{
        display: none;
    }

    .footer_media{
        display: flex;
        padding-bottom: 40px;
    }

    .footer_menu{
        margin: 0;
        list-style: none;
    }

    .footer_menu li{
        width: 251px;
        margin: 0 20px 20px 20px;
    }

    .list_panel{
        position: relative;
        cursor: pointer;
        background-color: #fff;
    }

    .list_panel:after{
        font-weight: 700;
        color: #666;
        position: absolute;
        font-family: "Font Awesome 5 Free";
        content: "\f0d7";
        font-size: 20px;
        transition: 0.3s;
        right: 3%;
        top: 0;
    }

    .list_panel.in:after{
        transform: rotate(180deg);
    }

    .list_panel a{
        position: relative;
        display: block;
        padding: 5px 30px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        color: #666;
        transition: 0.3s;
        pointer-events: none;
    }

    .footer_list{
        display: none;
    }

    .footer_list ul {
        padding: 0;
    }
    
    .footer_list li {
        margin-top: 15px;
    }

    .footer_list li a{
        padding: 5px;
        background: #fff;
    }

    .footer_policy{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer_policy ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .socials{
        display: flex;
        list-style: none;
        justify-content: flex-end;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 100px;
    }

    .socials li{
        z-index: 10;
    }
    
    .socials li a{
        height: 20px;
        margin: 0 10px;
        display: inline-flex;
        position: relative;
        width: 20px;
        border-radius: 50%;
        background: none;
        justify-content: center;
    }
    
    .socials li a::before{
       display: none;
    }
    
    .policy a{
        display: inline-block;
        color: #0000ff;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.14px;
    }
}

@media(max-width:812px){

    .menu{
        margin-right: 20px;
        margin-left: 0;
    }
    
    .menu li{
        padding: 0 5px;
    }

    .menu li a {
        font-size: 12px;
    }

    .search {
        width: 120px;
    }

    .way{
        padding: 20px 40px;
    }

    .way_content p:nth-child(2) {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .offer{
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }

    .offer_list{
        margin-left: 0;
    }

    .contact{
        padding: 0 40px;
    }

    footer {
        padding: 20px;
    }

    .socials li a {
        margin: 0 10px;
    }
}
@media(max-width:667px){

    .header_nav {
        flex-direction: column;
        align-items: center;
    }

    .form_header{
        margin-top: 20px;
    }

    .menu li a{
        font-size: 13px;
    }

    .search {
        width: 200px;
    }

    .header_phone {
        padding: 0;
    }

    .header_top{
        padding: 20px 10px;
    }

    .menu{
        margin-right: 0;
    }

    .menu li a {
        padding: 0 10px;
    }

    .offer_heading p{
        font-size: 16px;
    }

    .form_text {
        width: 200px;
    }
    .contact_form {
        padding: 0 30px;
    }
    .socials li a {
        padding: 5px 10px 5px 0;
    }

    .footer_menu{
        padding: 0;
    }

    .footer_media{
        flex-direction: column-reverse !important;
    }

    .footer_logo{
        margin-top: 20px;
    }

    .footer_logo img{
        display: block;
        margin: 0 auto; 
    }

    .footer_logo p {
        margin-top: 20px;
        font-size: 14px;
        text-align: center;
    }

    .footer_media{
        flex-direction: column;
        align-items: center;
    }

    .footer_list ul{
        list-style: none;
    }

    .footer_menu{
        margin-top: 20px;
    }

    .footer_policy{
        display: none;
    }

    .socials_media{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .socials{
        margin-bottom: 20px;
    }

    .socials li a {
        padding: 5px 20px;
    }

    .footer_list li {
        margin-bottom: 10px;
        margin-left: 0;
    }

    .footer_list li a {
        padding: 10px;
        font-size: 14px;
        color:#00f;
        text-transform: none;
        font-weight: 400;
        text-decoration: none;
    }

    .footer_menu li {
        width: 270px;
    }
}

@media(max-width:568px){

    .header_top {
        padding: 20px 10px 20px 0;
    }

    .menu li a {
        padding: 0;
    }

    .offer_heading p {
        font-size: 14px;
    }

    .contact_help{
        display: none;
    }

    .contact form{
        margin: 0 auto;
    }

    .footer_logo p {
        font-size: 9px;
    }
}

@media(max-width:414px){

    .way{
        padding: 20px;
    }

    .way_content p:nth-child(2),
    .way_content p:nth-child(4) {
        text-align: justify;
    }
    
      
    .way_image{
        display: none;
    }

    .offer{
        flex-direction: column;
        align-items: center;
    }


    .offer_heading {
        width: 100%;
    }

    .offer_heading p {
        text-align: center;
    }

    .offer_list {
        margin-top: 0;
        width: 100%;
    }

    .offer_list li {
        text-align: center;
    }

    .socials li a{
        padding: 0;
        margin: 0 20px;
    }
}

@media(max-width:375px){

    .header_title{
        display: none;
    }

    .menu{
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        padding: 10px;
    }

    .offer_heading p {
        font-size: 16px;
    }
}

@media(max-width:320px){
    .main_menu {
        margin-left: 0;
    }

    .offer {
        padding: 0 20px;
    }
}

